<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youhuipaipai"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <activity
            android:name="com.example.youhuipaipai.activity.HomeActivity"
            android:screenOrientation="portrait" >
           
        </activity>
        <!-- shareSdk 授权页面 -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 微信回调页面 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 我的-更多-关于我们 -->
        <activity
            android:name="com.example.youhuipaipai.activity.AboutusActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.NearbyHomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.WelcomeActivity"
            android:screenOrientation="portrait" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 我的-更多-意见反馈 -->
        <activity
            android:name="com.example.youhuipaipai.activity.FeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.LoadingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.IntegralCouponDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.LotteryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 首页 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity  android:name="com.example.youhuipaipai.activity.HomeSearchActivity"
            android:screenOrientation="portrait" 
            ></activity>
        <!-- 我的 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 分类 -->
        <activity
            android:name="com.example.youhuipaipai.activity.ClassifyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 优惠  、首页的积分排行榜和小编推荐 -->
        <activity
            android:name="com.example.youhuipaipai.activity.CouponHomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 本地生活服务 -->
        <activity
            android:name="com.example.youhuipaipai.activity.LifeServiceMenuActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 交替违章查询 -->
        <activity
            android:name="com.example.youhuipaipai.activity.TrafficQueryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-更多-修改密码 -->
        <activity
            android:name="com.example.youhuipaipai.activity.ChangePwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 签到 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MipcaActivityCapture"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-注册 -->
        <activity
            android:name="com.example.youhuipaipai.activity.PersonaldataActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.RemarkActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 优惠-列表详情 -->
        <activity
            android:name="com.example.youhuipaipai.activity.ShopDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 首页-最热优惠券-搜索 -->
        <activity
            android:name="com.example.youhuipaipai.activity.CouponSearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 首页-最热优惠券-详情 -->
        <activity
            android:name="com.example.youhuipaipai.activity.CouponDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 首页-最热优惠券-列表 -->
        <activity
            android:name="com.example.youhuipaipai.activity.AllshoplistActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-会员卡 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MyMembercardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-优惠券 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MyCouponActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-关注 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MyAttentionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的积分兑换 -->
        <activity
            android:name="com.example.youhuipaipai.activity.IntegralExchangeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-积分记录 -->
        <activity
            android:name="com.example.youhuipaipai.activity.IntegralRecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-我的评论 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MyCommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-我的消息 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MyMessageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-奖品详情 -->
        <activity
            android:name="com.example.youhuipaipai.activity.PrizeDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.MoreCommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的-更多 -->
        <activity
            android:name="com.example.youhuipaipai.activity.MoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.LogActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.MapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.AdvertisementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.MembercardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.MemberCardDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.MyMemberCardDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.youhuipaipai.activity.ImageDetailActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name=".activity.ForgetpwdActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".application.PullService" >
        </service>

        <receiver android:name=".broadcast.MyBroadCast" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>